<div class="panel panel-default">
  <div class="panel-heading">
    {{#link-to 'post' post.id}}  <h4>{{post.title}} by <strong><em>{{post.author}}</em></strong></h4>{{/link-to}}
  </div>
  <div class="panel-body">
    <img src={{post.image}} alt={{post.title}}>
    <p>{{post.snippet}}</p>
  </div>
</div>
