{{post-detail post=model}}

{{post-update post=model update="update"}}
{{post-delete post=model destroyPost="destroyPost"}}

{{new-comment saveComment="saveComment" post=model}}

<hr>
<h2>Comments</h2>
<hr>

{{#each model.comments as |comment|}}
  {{comment-tile destroyComment="destroyComment" comment=comment}}
{{/each}}
